<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/png" href="../public/yusama.png">
		<title>クリエイティブコーディング - ゆさまのおうち</title>
	</head>
	<body>
		<div>
      <a href="/playground"><p>←一覧へ戻る</p></a>
    </div>
    <main>
      <h1>クリエイティブコーディングってやつ</h1>
			<p>そのうちやる</p>
    </main>
	</body>
</html>