---
import Layout from '../../layouts/Blog.astro';
---

<Layout title="Home">
  <main>
    <h1>playground</h1>
    <p>色々な遊びをしています。</p>
    <a href="/playground/rubywasm-1"><h3>rubyで文字化け直すやつ</h3></a>
    <a href="/playground/creative-1"><h3>クリエイティブコーディングってやつ</h3></a>
  </main>
</Layout>