<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/png" href="../public/yusama.png">
		<title>文字化け直し - ゆさまのおうち</title>
    <script src="https://cdn.jsdelivr.net/npm/ruby-3_2-wasm-wasi@2.1.0/dist/browser.script.iife.js"></script>
    <script type="text/ruby" src="https://cdn.jsdelivr.net/gh/tmtm/jsrb@v0.1.0/jsrb.rb"></script>
	</head>
	<body>
		<div>
      <a href="/playground"><p>←一覧へ戻る</p></a>
    </div>
    <main>
      <h1>文字化けを治すだけ</h1>
      <p>with ruby</p>
      <input id="base" type="text">
      <button id="utf-8">UTF-8に変換する</button>
      <button id="sjis">Shift-JISに変換する</button>
      </br>
      <div id="result">
    </main>
    <script type="text/ruby">
      require "js"

      document = JSrb.global.document

      base = document.getElementById 'base'
      result = document.getElementById 'result'
      utf_button = document.getElementById 'utf-8'
      sjis_button = document.getElementById 'sjis'

      utf_button.addEventListener 'click' do |e|
        result.innerText = base.value.encode(Encoding::UTF_8, invalid: :replace, undef: :replace)
      end

      sjis_button.addEventListener 'click' do |e|
        result.innerText = base.value.encode(Encoding::SJIS, invalid: :replace, undef: :replace)
      end
    </script>
	</body>
</html>