---
import Layout from '../layouts/Base.astro';
---

<Layout title="Home">
	<main>
		<div class="top">
			<div class="title">
				<h1> YUSAMAのおうち</h1>
			</div>
		</div>
		<div class="section" id="profile">
			<div class="section-title">
				<h2>Profile</h2>
			</div>
			<div class="section-content">
				<p>名前：YUSAMA / yusama125718（読み：ゆさま）</p>
				<br>
				<p>出身：島根県</p>
				<br>
				<p>年齢：18（2006年3月29日生）</p>
			</div>
		</div>
		<div class="section" id="about">
			<div class="section-title">
				<h2>About me</h2>
			</div>
			<div class="section-content">
				<p>最近はVRChatで生活している人(?)です</p>
				<p>その昔はRTAとかやってました。今でもごくまれにやってます。</p>
				<br>
				<p>実はちょこっとプログラムが書けるエンジニアです。</p>
				<p>趣味でもお仕事でも書いてます。エンジニアとしてのプロフィールは<a href="/engineer">こちら</a></p>
				<br>
				<p>基本的にVRChatではいろんなところをふらふらしてます。</p>
				<p>あと限界ギリギリまで活動するのでいろんなとこで寝落ちしてるかも。</p>
				<br>
			</div>
		</div>
		<div class="section" id="about">
			<div class="section-title">
				<h2>About this page</h2>
			</div>
			<div class="section-content">
				<p>ノリで作ったページなので特に意味はないです。</p>
				<p>作ったものをなんとなくで置いています。</p>
			</div>
		</div>
		<div class="section" id="links">
			<div class="section-title">
				<h2>Links</h1>
			</div>
			<div class="section-content">
				<a href="/playground"><h3>遊び場</h3></a>
				<p>遊びで作ったHTMLを置いてます。</p>
				<p>なんか増えるかも。</p>
				<br>
				<a href="https://twitter.com/YUSAMA_RTA"><h3>X(Twitter)</h3></a>
				<p>色々呟いてます。見てるだけなことも多いですが。</p>
				<br>
				<a href="https://www.youtube.com/@yusama18"><h3>Youtube</h3></a>
				<p>昔RTAやっていた頃の動画があります。現在はあまり動いてません。</p>
				<br>
				<a href="https://github.com/yusama125718"><h3>GitHub</h3></a>
				<p>趣味で書いたコード達はここにいます。</p>
			</div>
		</div>
	</main>
</Layout>

<style>
	.top {
		height: 100vh;
		width: 100%;
		background-image: url("../assets/images/backimg.webp");
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	.title {
		padding-left: 90px;
		padding-top: 150px;
		display: flex;

		h1 {
			padding: 5px 15px;
			color: #FFF;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.section{
		padding: 150px 100px;
	}

	.section-content {
		padding: 30px 50px;
		font-size: 28px;
		font-weight: 700;
	}
</style>
