---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../assets/style/style.css';
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Zen+Kaku+Gothic+New:wght@400;700&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="../public/yusama.webp">
		<title>{title} - ゆさまのおうち</title>
	</head>
	<body>
		<div class="logo"></div>
		<div class="nav">
			<input id="drawer_input" class="drawer_hidden" type="checkbox">
			<label for="drawer_input" class="drawer_open"><span></span></label>
			<div class="nav_back">
				<nav class="nav_content">
					<h2>サイドバー</h2>
					<ul class="nav_list">
						<li class="nav_item"><a href="/">トップページ</a></li>
						<li class="nav_item"><a href="/#links">Links</a></li>
						<li class="nav_item"><a href="/engineer">エンジニアプロフィール</a></li>
						<li class="nav_item"><a href="/playground">遊び場</a></li>
					</ul>
				</nav>
			</div>
			<span class="drawer_back"></span>
		</div>
		<div class="container">
			<slot />
		</div>
		<div class="footer">
			<p>© YUSAMA 2025</p>
		</div>
	</body>
</html>